<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.cci.dashboard.producer.mapper.ProductMapper">
    <!-- 此处与接口方法名对应 指定参数类型与返回结果类型-->
    <select id="getProducts" resultType="com.cci.dashboard.common.entity.Product">
        select * from product
    </select>

    <update id="updateProductById" parameterType="com.cci.dashboard.common.entity.Product">
        update product set number = number - #{number} where id = #{id}
    </update>
</mapper>
