<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.cci.dashboard.producer.mapper.OverviewMapper">
    <!--  获取产业园列表集合 -->
    <select id="getIndustryParks" parameterType="java.util.List" resultType="com.cci.dashboard.producer.entity.IndustryPark">
        select * from industry_park
    </select>

    <!-- 获取企业总数及各省企业总数 -->
    <select id="companyStatistics" resultType="map">
        SELECT COUNT(*) AS sub, province FROM company GROUP BY province
    </select>
</mapper>
