<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.cci.dashboard.producer.mapper.OverviewMapper">
    <!-- 新增产业 -->
    <insert id="addIndustry" parameterType="com.cci.dashboard.producer.entity.Industry">
        insert into industry(id, name, parent_id) values(#{id}, #{name}, #{parentId})
    </insert>

    <!-- 批量新增产业 -->
    <insert id="batchAddIndustry" parameterType="java.util.List">
        insert into industry(id, name, parent_id) values
        <foreach collection="list" item="industry" index="index"
                 separator=",">
            (#{industry.id}, #{industry.name}, #{industry.parentId})
        </foreach>
    </insert>

    <select id="getIndustryIdByName" parameterType="java.lang.String" resultType="java.lang.String">
        select * from industry where name = #{name}
    </select>

    <!-- 批量新增人才 -->
    <insert id="batchAddPersonnel" parameterType="java.util.List">
        insert into personnel(id, name, intro, field, relation) values
        <foreach collection="list" item="personnel" index="index"
                 separator=",">
            (#{personnel.id}, #{personnel.name}, #{personnel.intro}, #{personnel.field}, #{personnel.relation})
        </foreach>
    </insert>
</mapper>
