<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.cci.dashboard.producer.mapper.TestMapper">
    <!-- 新增产业 -->
    <insert id="addIndustry" parameterType="com.cci.dashboard.producer.entity.Industry">
        insert into industry(id, name, parent_id) values(#{id}, #{name}, #{parentId})
    </insert>

    <!-- 批量新增产业 -->
    <insert id="batchAddIndustry" parameterType="java.util.List">
        insert into industry(id, name, parent_id) values
        <foreach collection="list" item="industry" index="index"
                 separator=",">
            (#{industry.id}, #{industry.name}, #{industry.parentId})
        </foreach>
    </insert>

    <select id="getIndustryIdByName" parameterType="java.lang.String" resultType="java.lang.String">
        select * from industry where name = #{name}
    </select>

    <!-- 批量新增人才 -->
    <insert id="batchAddPersonnel" parameterType="java.util.List">
        insert into personnel(id, name, intro, field, relation) values
        <foreach collection="list" item="personnel" index="index"
                 separator=",">
            (#{personnel.id}, #{personnel.name}, #{personnel.intro}, #{personnel.field}, #{personnel.relation})
        </foreach>
    </insert>

    <select id="getIndustrys" parameterType="java.lang.String" resultType="com.cci.dashboard.producer.entity.Industry">
        select * from industry where hierarchy = #{hierarchy}
    </select>

    <update id="updateHierarchy" parameterType="java.util.List">
        update industry
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="hierarchy =case" suffix="end,">
                <foreach collection="list" item="industry">
                    <if test="industry.hierarchy!=null">
                        when parent_id=#{industry.parentId} then #{industry.hierarchy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="position =case" suffix="end,">
                <foreach collection="list" item="industry">
                    <if test="industry.position!=null">
                        when parent_id=#{industry.parentId} then #{industry.position}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="list" separator="or" item="industry">
                parent_id = #{industry.parentId}
            </foreach>
        </where>
    </update>
</mapper>
